<mat-toolbar>
	<button mat-icon-button class="app-icon" aria-label="Menu access" [matMenuTriggerFor]="menu">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Cloudonix Agent Management Demo</span>
	<span class="spacer"></span>
</mat-toolbar>
<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="restartApplication()">
		<mat-icon>settings_backup_restore</mat-icon>
		<span>Restart</span>
	</button>
	<button mat-menu-item (click)="changeDomain()">
		<mat-icon>dns</mat-icon>
		<span>Select Domain</span>
	</button>
</mat-menu>

<router-outlet></router-outlet>

<mat-card *ngIf="errorMessage">
	<mat-card-content>
		<p class="error">
			{{errorMessage}}
		</p>
	</mat-card-content>
</mat-card>
